<div id="total-container" style="height: 100vh">
  <h1>
    Log in to spotify, play a song and watch some janky-ass visuals appear as if by magic.
  </h1>

  <button class="warning-button" (click)="login()" id="biglogin" style="z-index: 10000; position: absolute">Get Authorized!</button>

  <h1 *ngIf="loggedIn">You're all logged in, let's get going...</h1>

  <span id="tunnel-container"></span>
  <span id="quart-container"></span>
  <span id="sq-container"></span>

  <div style="width: 100%; height: 100%; z-index: 111; position:absolute; top:0px" id="graph"> </div>

</div>
